<!
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Error</title>
    <div th:replace="index::boot"></div>
</head>
<body>
<div th:replace="header::header2"></div>
<h2 style="display: flex;justify-content: center;margin: 50px 0; font-family: 'Times New Roman'">Not find. Error 404</h2>
</body>
</html>