<!
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Cabinet</title>
    <!--    BOOTSTRAP-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3" crossorigin="anonymous"></script>
    <script src="https://kit.fontawesome.com/25ffb0d0eb.js" crossorigin="anonymous"></script>
</head>
<style>
    .btn{
        background: #7cb4fc;
        border-radius: 5px;
    }

</style>
<body>

<div th:replace="index :: header"></div>
<div class="small-container single-product">
    <img alt="image" class="prododyct_img" th:src="@{/images/{image}(image=${item.image})}"
         style="float: left;padding: 1% 4%" width="45%" height="75%" id="ProductImg">
    <div style="padding-top: 8%">
        <h2 style="font-size: 72px;" th:text="${item.name}"></h2>
        <div style="font-size: 38px; padding-top: 1%; color: #007214">
        <span>Salary </span><span th:text="${item.salary}"></span> <span> $</span>
        </div>
    </div>
    <div style="margin-bottom:50px; padding-top: 12%; padding-left: 45%;padding-right: 4%">
        <h2 style="font-size: 30px;" >Work Description</h2>
        <hr>
        <p style="font-size: 20px;" th:text="${item.description}"></p>
        <hr>
        <a href="#" onclick="getNumber()" style="text-decoration: none"><button class="btn">Get a phone number</button></a>
        <a th:href="@{/sendResume}" th:if="${user.role.name().equals('USER')}">
            <button onclick="sendresume()" class="btn">Send your Resume</button>
        </a>
        <a th:href="@{/candidates}" th:if="${user.role.name().equals('ADMIN') && item.userId == user.id}">
            <button class="btn">Candidates</button>
        </a>
        <a th:href="@{/userChat}" th:if="${user.role.name().equals('USER')}">
            <button class="btn">Chat</button>
        </a>
        <a onclick="return confirmation()" th:href="@{/product/delete}" th:if="${item.userId == user.id}">
            <button class="btn" style="background: #EF3B3A">Delete</button>
        </a>
        <div id="phone" style="display: none"><span>Phone: </span><span th:text="${item.phoneNumber}"></span>
        </div>
    </div>

</div>
</body>
<script>

    function confirmation() {
        let del = confirm("Are you sure want to delete Item?")
        if (del){
            alert("Item deleted")
        } else {
            alert("Item not deleted")
        }
        return del;
    }

    let counter = 0;
    function getNumber(){
        counter++
        if (counter%2){
            document.getElementById("phone").style.display = '';
        } else {
            document.getElementById("phone").style.display = 'none';
        }

    }

    function sendresume(){
        alert("Your cv successfully send")
    }
</script>
</html>